<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- صلاحيات الشبكة والواي-فاي -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!-- قبل أندرويد 13 (Tiramisu): مطلوب لقراءة SSID/RSSI -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- ابتداءً من أندرويد 13: لازم NEARBY_WIFI_DEVICES -->
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES"/>

    <application
        android:allowBackup="true"
        android:label="Huawei Wifi"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
